.info-acoes{
    display: flex;
    flex-direction: row;

    justify-content: center;

}

.acoes_excluir{
    flex-direction: row;
    justify-content: center;
}

.button_excluir{
   background-color: #ff00009d;
   border-style: none;
   border-radius: 10px;

   cursor: pointer;

   display: inline;
}

.button_editar{
    background-color: #ef8c2ac0;
    border-style: none;
    border-radius: 10px;

    cursor: pointer;

    display: inline;
}

.vector_delete{
    width: 75%;
}

.material-symbols-outlined{
    padding-top: 15%;
}