.info-acoes{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.acoes_excluir{
    padding-left: 20%;
}

.button_excluir{
   background-color: #ff00009d;
   border-style: none;
   border-radius: 10px;

   cursor: pointer;
}

.button_editar{
    background-color: #ef8c2ac0;
    border-style: none;
    border-radius: 10px;

    cursor: pointer;
}

.vector_delete{
    width: 75%;
}

.material-symbols-outlined{
    padding-top: 15%;
}