.info-acoes{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
}

.acoes_excluir{
    padding-left: 25%;
}

.button_excluir{
   background-color: #FF0000;
   border-style: none;
}

.button_editar{
    background-color: #EF8B2A;
    border-style: none;
}

.vector_delete{
    width: 75%;
}