.footer{
	background-color: #004587;
	font-weight: bold;
	text-align: center;

	display: flex;
	align-items: center;
    align-content: center;
    text-align: center;

    border-top: 5px solid #f7941d;
}

.footer-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.footer h3{
	color: #fdfdfd;
	font-size: 14px;
    margin-top: 50px;
}

.segundologo {
	width: 100px;
	height: 100px;
	max-width: fit-content;
}