
.menu__item {
    list-style: none;
    justify-items: space-between;
    padding: 5px 5px 10px 5px;
}

.menu__link {
    font-family: 'Tahoma';
    color: #1D478C;
    text-align: center;
    margin-right: 0.5rem;
    text-decoration: none;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
}

.menu__link--ativo {
    width: 150px;
    color: #EF8B2A;
    font-weight: bold;
    box-shadow: #EF8B2A;
    border-bottom: solid 2.5px #EF8B2A;
}

.menu__link:hover {
    color: #EF8B2A;
    cursor: pointer;
}

.menu__lista {
    display: flex;
    float: right;
}

.menu__link--outros {
    width: 150px;
    color: #1D478C;
    font-weight: bold;
    box-shadow: #1D478C;
    border-bottom: solid 2.5px #1D478C;
    padding-right: 2px;
}

.menu__link--outros:hover {
    color: #EF8B2A;
    cursor: pointer;
    box-shadow: #EF8B2A;
    border-bottom: solid 2.5px #EF8B2A;
}